/backend/SecurityAPI/.vs
/backend/SecurityAPI/SecurityAPI/bin
/backend/CoreCuestionariosOIJ/.vs
/backend/CoreCuestionariosOIJ/CuestionariosAD/bin
/backend/CoreCuestionariosOIJ/CuestionariosAPI/bin
/backend/CoreCuestionariosOIJ/CuestionariosEntidades/bin
/backend/CoreCuestionariosOIJ/CuestionariosRN/bin













