<div class="login-body">
    <main class="login-container">
        <div class="lc-header">Seleccionar Oficina</div>

        <form class="lc-form">
            <input type="text" class="mb-4 input-text" placeholder="Usuario"><br>
            <select name="select" class="mb-4 input-text" style="width: 220px;">
                <option value="value1">Oficina</option>
            </select><br>
            <button type="submit" class="mb-4 input-button" routerLink="/">Ingresar</button>
        </form> 

    </main>
</div>