<div class="row dialog-tittle-container text-center">
  <span class="dialog-tittle">Información de la pregunta</span>
</div>

<form [formGroup]="getFormGroup()" style="margin-left: 12px;" autocomplete="off" validate (ngSubmit)="onSubmit()">

  <div class="row">
    <mat-form-field class="w-full">
      <mat-label> Enunciado </mat-label>
      <input matInput placeholder="Enunciado" [formControlName]="'enunciate'" [(ngModel)]="question.enunciate">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-6 select">
      <mat-label>Categoría</mat-label>
      <input type="text" placeholder="Seleccionar Categoría" aria-label="Number" matInput
        [formControl]="getCategoryControl()" [matAutocomplete]="autoCategory" [(ngModel)]="category.name">
      <mat-autocomplete #autoCategory="matAutocomplete">
        <mat-option *ngFor="let option of getCategoriesFiltered() | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="col-6 select">
      <mat-label>Tipo</mat-label>
      <mat-select [(ngModel)]="questionType.id" [formControl]="getTypeControl()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let questionType of getQuestionTypes() | async" [value]="questionType.id">
          {{questionType.name}}
        </mat-option>
      </mat-select>
      {{questionType.id}}
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-6 select">
      <mat-label>Subcategoría</mat-label>
      <input type="text" placeholder="Seleccionar Subcategoría" aria-label="Number" matInput
        [formControl]="getSubCategoryControl()" [matAutocomplete]="autoSubCategory">
      <mat-autocomplete #autoSubCategory="matAutocomplete">
        <mat-option *ngFor="let option of getSubCategoriesFiltered() | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="row">
    <div class="col-md-12 text-center">
      <button type="submit" mat-raised-button class="mat-warn mb-1" style="width: 100px;"
        [disabled]="!getFormGroup().valid">Aceptar</button>
      <button mat-raised-button mat-dialog-close class="mat-primary mb-1" style="width: 100px;">Cancelar</button>
    </div>
  </div>

</form>

<div class="row">
</div>