.menu-sidebar-container {
    color: black;
    height: 100%;
    width: 180px;
    min-width: 180px;
    text-align: left;
    position: relative;

    background-color: #444444;
    color: white;
}

.menu-sidebar-container>.menu-sidebar {
    height: 100%;
    overflow-y: auto !important;
    overflow-x: hidden;
    position: relative;
    display: flex !important;
    flex-direction: column;
}

.menu-sidebar-container>.menu-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menusidebar-header {
    font-weight: bolder;
    font-size: 20px;
}