<aside class="menu-sidebar-container">
    <div class="menu-sidebar flex-column">

        <div class='menusidebar-header mb-2'>
            Menú principal
        </div>
        
        <ul class='nav nav-pills flex-column mb-auto'>
            <li class='nav-item'>
                <a routerLink="/questionnaire-menu" routerLinkActive="active" ariaCurrentWhenActive="page">Cuestionarios</a>
            </li>
            <li class='nav-item'>
                <a routerLink="/maintenance-menu" routerLinkActive="active" ariaCurrentWhenActive="page">Mantenimiento</a>
            </li>
        </ul>

        <ul class='nav nav-pills flex-column'>
            <li class='nav-item'>
                All is fine indicator *.*
            </li>
        </ul>
    
    </div> 
</aside>