<div class="row mb-4">
    <div class="col">
        <button type="button" routerLink="/manage-category" class="btn me-md-2 btn-category">Categoría de
            Pregunta</button>
    </div>
    <div class="col">
        <button type="button" routerLink="/manage-subcategory" class="btn me-md-2 btn-subcategory">Subcategoría de
            Pregunta</button>
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div>

<form form [formGroup]="getFormGroup()" validate (ngSubmit)="onSubmit()" class="row mb-4">
    <div class="col">
        <mat-form-field class="w-full p-l-8">
            <mat-label>Nombre SubCategoría</mat-label>
            <input matInput #inputCreateSubCategory placeholder="Nombre SubCategoría" [formControlName]="'subcategoryF'"
                maxlength="100">
            <mat-hint align="end">{{inputCreateSubCategory.value.length}}/100</mat-hint>
        </mat-form-field>
    </div>
    <mat-form-field class="col">
        <mat-label>Categoría</mat-label>
        <mat-select [formControlName]="'categoryF'" (selectionChange)="getSubCategories();">
            <mat-option> </mat-option>
            <mat-option *ngFor="let currentCategory of categoryList" [value]="currentCategory.id">
                {{currentCategory.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="row mb-4">
        <span *ngIf="this.isSendSuccessfull" class="success-message">{{this.messageToShow}}</span>
        <span *ngIf="!this.isSendSuccessfull" class="error-message">{{this.messageToShow}}</span>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="category-action-buttons">
                <button mat-raised-button type="button" style="background-color: #DAA520; color: black;"
                    class="mat-primary me-md-2" (click)="clearInput()">
                    <mat-icon>cleaning_services'</mat-icon>
                    Limpiar
                </button>

                <button mat-raised-button type="button" (click)="searchSubCategory()" class="mat-primary me-md-2">
                    <mat-icon>search</mat-icon>
                    Buscar
                </button>
                <button mat-raised-button type="submit" class="mat-primary me-md-2" [disabled]="!getFormGroup().valid">
                    <mat-icon>add</mat-icon>
                    Agregar
                </button>


            </div>

        </div>


    </div>
</form>



<div class="mat-elevation-z8">
    <table mat-table [dataSource]="getDataSource()">

        <!-- Title -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Nombre Subcategoría </th>

            <td mat-cell *matCellDef="let subcategory">
                <div *ngIf="!subcategory.editable">
                    {{subcategory.name}}
                </div>
                <div *ngIf="subcategory.editable">
                    <form>
                        <mat-form-field>
                            <input [formControl]="subcategoryControl" #inputUpdateSubcategory type="text" placeholder="{{subcategory.name}}"
                                value="{{subcategory.name}}" maxlength="100" matInput>
                                <mat-hint align="end">{{inputUpdateSubcategory.value.length}}/100</mat-hint>
                        </mat-form-field>
                        <button mat-icon-button color="primary"
                            (click)="updateSubCategory(subcategoryControl.value, subcategory.id)"
                            [disabled]="!this.subcategoryControl.valid">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" (click)="cancelUpdate(subcategory.id)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </form>
                </div>

            </td>
        </ng-container>

        <!-- Operations -->
        <ng-container matColumnDef="operations">
            <th mat-header-cell *matHeaderCellDef> Operaciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item type="button" (click)="deleteSubCategory(element.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Borrar</span>
                    </button>
                    <button mat-menu-item type="button" (click)="updateSC(element.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccione la página">
    </mat-paginator>
</div>