<div class="container">

    <form class="row mb-4">

        <div class="col">
            <mat-form-field>
                <div class="col">
                    <input matInput [formControl]="getSearchControl()" placeholder="Buscar">
                </div>
            </mat-form-field>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="category-action-buttons">
                    <button mat-raised-button type="button" (click)="cleanSearchControl()" class="mat-primary me-md-2"
                        style="background-color: #DAA520; color: black;">
                        <mat-icon>cleaning_services'</mat-icon>
                        Limpiar
                    </button>
                    <button mat-raised-button type="button" (click)="searchQuestionnaire()" class="mat-primary me-md-2">
                        <mat-icon>search</mat-icon>
                        Buscar
                    </button>
                </div>
            </div>
        </div>
        <span *ngIf="this.hasQuestionnairesToReview()" style="color: red;">No posee cuestionarios para revisión</span>
    </form>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="getDataSource()">

            <!-- Nombre del cuestionario -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Fecha de creación -->
            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
                <td mat-cell *matCellDef="let element"> {{ getDate(element.creationDate) }} </td>
            </ng-container>

            <!-- Fecha de vencimiento -->
            <ng-container matColumnDef="expirationDate">
                <th mat-header-cell *matHeaderCellDef> Fecha de Vencimiento </th>
                <td mat-cell *matCellDef="let element"> {{ getDate(element.expirationDate) }} </td>
            </ng-container>

            <!-- Estado del cuestionario -->
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{ getQuestionnaireState(element.isActive) }} </td>
            </ng-container>

            <!-- Operaciones -->
            <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef> Operaciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button *ngIf="this.hasDeleteAccess()" mat-menu-item (click)="deleteQuestionnaire(element.id)">
                            <mat-icon>delete</mat-icon>
                            <span>Borrar</span>
                        </button>
                        <button *ngIf="this.hasEditAccess()" mat-menu-item (click)="updateQuestionnaire(element.id)">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button *ngIf="this.hasDashboardAccess()" mat-menu-item>
                            <mat-icon>dashboard</mat-icon>
                            <span>Reporte</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>