<mat-horizontal-stepper labelPosition="bottom" #stepper>

    <mat-step>
        <ng-template matStepLabel>Información básica</ng-template>
        <app-create-step-one [stepperContainer]="stepper" [questionnaire]="questionnaire">
        </app-create-step-one>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Preguntas</ng-template>
        <app-create-step-two [stepperContainer]="stepper" [questionnaire]="questionnaire"></app-create-step-two>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Permisos de revisión</ng-template>
        <app-create-step-three [stepperContainer]="stepper" [questionnaire]="questionnaire" [isModify]="this.isModify"></app-create-step-three>
    </mat-step>   

    <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <app-create-step-five [stepperContainer]="stepper" [questionnaire]="questionnaire" [isModify]="this.isModify">
        </app-create-step-five>
    </mat-step>

</mat-horizontal-stepper>
