<mat-horizontal-stepper labelPosition="bottom" #stepper>

    <mat-step>
        <ng-template matStepLabel>Información básica</ng-template>
        <app-create-step-one></app-create-step-one>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Preguntas</ng-template>
        <app-create-step-two></app-create-step-two>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Permisos de revisión</ng-template>
        <app-create-step-three></app-create-step-three>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Permisos de respuesta</ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
    </mat-step>

</mat-horizontal-stepper>

<!-- <button mat-raised-button type="button" class="mat-warn">
    <mat-icon>cancel</mat-icon>
    Cancelar
</button>

<button mat-raised-button type="button" class="mat-accent">
    <mat-icon>search</mat-icon>
    Buscar
</button>

<button mat-raised-button type="button" class="mat-warn">
    <mat-icon>delete</mat-icon>
    Cancelar
</button>

<button mat-raised-button type="button" class="mat-primary">
    <mat-icon>cleaning_services'</mat-icon>
    Limpiar
</button> -->