<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="project-container">
                <p>Site under construction!</p>
            </div>
            <div class="project-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vitae, saepe vel labore provident
                    maiores delectus exercitationem! Asperiores quae modi illum? Dolores vero ullam voluptatibus vel
                    beatae blanditiis mollitia deleniti.</p>
            </div>
            <div class="project-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vitae, saepe vel labore provident
                    maiores delectus exercitationem! Asperiores quae modi illum? Dolores vero ullam voluptatibus vel
                    beatae blanditiis mollitia deleniti.</p>
            </div>
            <div class="project-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vitae, saepe vel labore provident
                    maiores delectus exercitationem! Asperiores quae modi illum? Dolores vero ullam voluptatibus vel
                    beatae blanditiis mollitia deleniti.</p>
            </div>
            <div class="project-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vitae, saepe vel labore provident
                    maiores delectus exercitationem! Asperiores quae modi illum? Dolores vero ullam voluptatibus vel
                    beatae blanditiis mollitia deleniti.</p>
            </div>
        </div>
    </div>
</div>