
<div>
    <input type="button" name="categoryQuestionButton" value="Categoría de Pregunta" />
    <input  type="button" name="subCategoryQuestionButton" value="Subcategoría de Pregunta" />
</div>

<div>
    <p>Nombre:</p>
    <input type="text" name="nameCategoryQuestion" placeholder="Nombre de la categoría de pregunta" />
</div>

<div>
    <input type="button" name="clearCategoryQuestion" value="Limpiar" />
    <input  type="button" name="searchCategoryQuestion" value="Buscar" />
    <input  type="button" name="addCategoryQuestion" value="Agregar" />
</div>

