.navbar {
    height: 60px;
    background-color: #444444;
    color: #DAA520;
    font-weight: bolder;
}

.logout-btn {
    margin-right: 5px;
    margin-left: 5px;
    color: #DAA520;
}

.logo {
    margin-left: 15px;
}