<div class="login-body">
    <main class="login-container">
        <div class="lc-header">Ingreso al Sistema</div>

        <form class="lc-form">
            <input type="text" [formControl]="this.userNameControl" name="userName" class="mb-4 input-text" placeholder="Usuario" required><br>
            <input type="password" [formControl]="this.userPasswordControl" name="password" class="mb-4 input-text" placeholder="Contraseña" required><br>
            <mat-error *ngIf="this.isLoginIncorrect">Inicio de sesión incorrecto</mat-error>
            <button type="button" class="mb-4 input-button" (click)="onLogin()" [disabled]="!this.isLoginValid()" >Ingresar</button>
        </form>

    </main>
</div>