/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
}


.question-container {
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(230, 230, 230);
}

.btn-next{
    background-color: #444;
    color: #DAA520;
    width: 100px;
    height: 40px;
}

.btn-back{
    background-color: #444;
    color: #DAA520;
    width: 100px;
    height: 40px;
}