<div class="container">
    <div class="row">
        <h1 class="text-center">Cuestionarios</h1>
    </div>
    <div class="row">
        <div class="col text-center" *ngIf="this.hasCreateAccess()">
            <button routerLink="/create-questionnaire" class="nav-btn" title="Crear un cuestionario">Crear</button>
        </div>
        <div class="col text-center" *ngIf="this.hasSearchAccess()">
            <button routerLink="/search-questionnaire" class="nav-btn " title="Buscar un cuestionario">
                Buscar
            </button>
        </div>
    </div>
</div>  