.app-body-content {
    padding: 24px;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
}

.app-body-main {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.app-body {
    height: calc(100% - 60px) /* 100% - [el alto del navbar]*/;
}