    <div class="row mb-4">
        <div class="col">
            <button type="button" class="btn me-md-2 btn-category">Categoría de Pregunta</button>
        </div>
        <div class="col">
            <button type="button" class="btn me-md-2 btn-subcategory">Subcategoría de Pregunta</button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    
    <div class="row mb-4">
        <div class="col">
            <label class="category-label">Nombre:</label>
            <input class="cateogry-input" type="text" name="nameCategoryQuestion" placeholder="Nombre de la categoría de pregunta" /> 
        </div>
    </div>
    
    <div  class="row mb-4">
        <div class="col">
            <div class="category-action-buttons">
                <button type="button" class="btn me-md-2 btn-clean-category">Limpiar</button>
                <button type="button" class="btn me-md-2 btn-search-category">Buscar</button>
                <button type="button" class="btn me-md-2 btn-add-category" (click)="openDialog('3000ms', '1500ms')">Agregar</button>
                <button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog without animation</button>
                <button mat-raised-button (click)="openDialog('3000ms', '1500ms')">Open dialog slowly</button>
            </div>
        </div>
        
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="getDataSource()">
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
      
    

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn me-md-2 btn-back">Volver</button>
    </div>
